@font-face{font-family:'Open Sans';src:url(fonts/Regular/OpenSans-Regular.woff2?v=1.101) format("woff2"),url(fonts/Regular/OpenSans-Regular.woff?v=1.101) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'Open Sans';src:url(fonts/Bold/OpenSans-Bold.woff2?v=1.101) format("woff2"),url(fonts/Bold/OpenSans-Bold.woff?v=1.101) format("woff");font-weight:700;font-style:normal}

html, body {
  width: 800px;
  max-height: 500px;
  color: #557;
  background-color: #ddd;
  font-size: 0.9em;
  font-family: 'Open Sans', Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

.chrome div {
  margin: 0px;
  padding: 0px;
}

.legend div {
  padding: 0px;
  margin: 0px;
}

span, p, h1, h2, h3, h4, h5 {
  cursor: default;
}

.chrome span {
  margin: 0px;
  padding: 0px;
}

.panel {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.panel-section-header,
.legend {
  display: block;
  font-weight: bold;
  font-size: 1.35em;
  text-transform: none;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

.chrome .panel-section-header {
  padding: 10px 10px 0px 10px;
}

.legend {
  bottom: 0px;
  min-height: 2.5em;
  height: 2.5em;
  max-height: 2.5em;
  padding: 0px 20px 0px 14px;
  margin: 0px;
  clear: both;
  border: none;
  overflow: hidden;
  border-top: 1px solid #99a;
}

.chrome .legend {
  padding: 0px;
  padding-left: 8px;
}

.legend p.intro {
  margin-right: 28px;
  margin-bottom: 12px;
  display: inline-block;
}

.legend span {
  background-color: #ddd;
  background-color: transparent;
  padding: 2px 16px 4px 28px;
  background-repeat: no-repeat;
  background-clip:border-box;
  margin-right: 16px;
  font-size: 0.7em;
  margin-top: 0.8em;
  margin-bottom: 12px;
  display: inline-block;
  border-right: 1px solid #aaa;
}

.legend #leg-unhandled {
  background-image: url('icons/unhandled.png');
  background-position: 0px center;
}

.legend #leg-flagged {
  /*background-image: url('icons/checkmark.png');*/
  background-image: url('icons/ban.png');
  background-position: 0px center;
}

.legend #leg-permitted {
  background-image: url('icons/permit.png');
  background-position: 0px center;
}

.legend #leg-auto-flagged {
  /*background-image: url('icons/checkmark_af.png');
  background-position: -4px -43px;*/
  border-right: none;
  background-image: url('icons/ban-af.png');
  background-position: 0 center;
}

.intro,
.settings-title {
  display: block;
  color: #888;
  font-size: 0.65em;
  margin-top: 0px;
}

.info {
  padding-left: 21px;
  font-weight: bold;
  font-size: 1.25em;
}

.domainurl {
  font-size: 0.7em;
}

#header-title {
  display: block;
  max-width: 75%;
  margin-bottom: 8px;
}

hr {
  clear: both;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  margin: 0px;
}

ul {
  clear: both;
  padding: 5px 8px;
  margin: 0px;
  list-style: none;
}

li {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 5px;
  display: block;
  border-top: 1px solid #eef;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transition-property: background-color,border-color;
  transition-duration: 150ms;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}

li:nth-child(2n+1) {
  background-color: #eee;
}

li.inactive-cookie {
  opacity: 0.55;
}

li:hover {
  background-color: #557;
  color: #eef;
  border-top: 1px solid #668;
  border-right: 1px solid #668;
  border-bottom: 1px solid #668;
}

li:hover .cookieValue {
  color: #fff;
}

li:hover .secure-cookie,
li:hover .cookie-domain {
  color: #ff7000;
}

li.unremoved-secure-cookie {
  border: 1px solid #e00;
}

.cookieKey, .cookieValue, .secure-cookie {
  transition-property: color;
  transition-duration: 150ms;
}

.cookieKey {
  font-size: 1.15em;
  font-weight: bold;
  display: block;
}

.cookieValue {
  color: #779;
  font-size: 0.85em;
}

.secure-cookie,
.cookie-domain {
  color: #9a0000;
  display: inline-block;
  margin-left: 6px;
  font-size: 0.75em;
  font-weight: bold;
}

.chrome .secure-cookie,
.chrome .cookie-domain {
  margin-left: 6px;
}

.subloadbar {
  border: 1px solid #ccc;
  background-color: #eee;
  display: block;
  margin: 0px;
  padding: 9px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 1em;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.12);

}
.subloaded {
  color: #9a0000;
  margin-right: 1em;
}

#cookie-list p,
#cookie-list-flagged p,
#cookie-list-permitted p {
  position: relative;
  word-wrap: break-word;
  width: 85%;
  left: 6%;
  top: 0%;
  display: inline-block;
}

button {
  text-transform: uppercase;
  text-align: center;
  background-color: #446;
  border-radius: 24px 24px;
  font-weight: bold;
  border: none;
  padding: 7px 12px 8px 12px;
  cursor: pointer;
  color: #ddd;
}

.chrome button {
    padding: 8px 12px 7px 12px;
    outline: none;
}

button {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.12);
}

input,
textarea {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.17);
}

.chrome input,
.chrome textarea {
  outline: none;
}

button:hover,
button.active {
  background-color: #0a0;
  color: #fff;
}

button::-moz-focus-inner {
  border: none;
}

#tabs {
  position: relative;
  min-height: 45px;
  top: 28px;
}

.chrome #tabs {
  top: 16px;
}

#tabs button {
  margin-left: 0px;
  padding: 7px 20px 8px 34px;
  border-radius: 12px 12px 0px 0px;
  transition: background-color,color;
  transition-duration: 120ms;
  position: relative;
  margin-right: 8px;
}

button#activeCookies {
  background-image: url('icons/cookie_38.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

button#flaggedCookies {
  background-image: url('icons/ban.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

button#permittedCookies {
  background-image: url('icons/permit.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.cookieCount {
  border: 1px solid #ccc;
  border-radius: 48px;
  background-color: #45a;
  color: #fff;
  font-size: 0.95em;
  padding: 0px 7px 2px 7px;
  position: absolute;
  top: 26px;
  right: -8px;
}

.hidden {
  display: none;
}

button.checkmark {
  position: absolute;
  top: 0.85em;
  left: 10px;
}

button.checkmark,
button.checkmark-confirm {
  border: 1px solid #aac;
  transition-duration: 250ms;
  transition-property: border;
}

button.checkmark,
button.checkmark-confirm,
button.setKeyCookie {
  cursor: pointer;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  background-image: url('icons/unhandled.png');
  background-repeat: no-repeat;
  background-clip:border-box;
  background-position: center;
}

button.checkmark-confirm {
  background-image: none;
}

button.setKeyCookie {
  position: absolute;
  background-color: #ddd;
  border: 1px solid #fff;
  border-radius: 12px;
  top: 12px;
  right: 14px;
  background-position: center center;
  background-image: url('icons/key_26.png');
}

button.setKeyCookie.locked {
  background-color: #fff;
  background-image: url('icons/key_a26.png');
}


button.checkmark.flagged {
  background-position: center center;
  background-image: url('icons/ban.png');
}

button.checkmark.auto-flagged {
  background-position: center center;
  background-image: url('icons/ban-af.png');
}

button.checkmark.permit {
  background-position: center center;
  background-image: url('icons/permit.png');
}

li:hover button.checkmark {
  border: 1px solid #446;
}

#modes {
  position: absolute;
  top: 0.35em;
  right: 1%;
  width: auto;
  display: block;
}

.chrome #modes {
  right: 0%;
}

button#auto-flag,
button#global-flag,
button#account-mode,
button#help {
  margin-top: 5px;
  text-transform: uppercase;
  background-color: #ddd;
  background-image: url('icons/cookie_wflag_28.png');
  background-position: 4px 3px;
  background-repeat: no-repeat;
  background-clip: border-box;
  padding: 7px 18px 8px 38px;
  border-color: #ddd;
  color: #557;
  float: left;
  display: inline;
  margin-right:  7px;
  border: 1px solid #99a;
  transition: background-color,color;
  transition-duration: 120ms;
}

button#help {
  background-image: url('icons/help_28.png');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 8px center;
  margin-right: 0px;
  padding: 7px 20px 8px 34px;
}

button#account-mode {
  background: none;
  background-color: #ddd;
  color: #557;
  padding: 7px 18px 8px 18px;
}

.chrome button#auto-flag,
.chrome button#global-flag {
  background-position: 4px 2px;
  padding: 9px 18px 8px 38px;
}

.chrome button#account-mode {
  padding: 9px 18px 8px 18px;
}

button#global-flag {
  background-image: url('icons/globe_flag_28.png');
}

button#auto-flag.active,
button#global-flag.active,
button#account-mode.active {
  background-color: #b20600;
  background-image: url('icons/cookie_flag_28.png');
  color: #eee;
  border: 1px solid #779;
}

button#account-mode.active {
  background-image: none;
}

button#global-flag.active {
  background-image: url('icons/globe_wflag_28.png');
}

#searchBar {
  background-color: #eee;
  background-image: url('icons/search_icon.png');
  background-position: 4px center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 26px 26px;
  color: #557;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0px;
  padding: 4px 12px 7px 4%;
  font-weight: bold;
  width: 43%;
  position: absolute;
  right: 1%;
  bottom: 9px;
}

.chrome #searchBar {
  width: 41%;
  margin-left: 1px;
  padding: 7px 12px 6px 4%;
}

#clearAutoFlagged {
  margin-top: 10px;
  margin-bottom: 4px;
}

#prefs {
  position: absolute;
  right: 10px;
  top: 4px;
  padding-left: 38px;
  background-image: url('icons/settings_28.png');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: 4px center;
}

.chrome #prefs {
  top: 6px;
}

#settings-view {
  position: relative;
  padding: 5px 10px;
  margin-bottom: 18px;
}

#settings-view hr {
  margin: 15px 0px 12px 0px;
  clear: both;
}

.settings-title {
  position: relative;
  top: -0.5em;
  font-size: 1.15em;
  float: left;
  width: 21%;
  font-weight: bold;
}

.setting-info p,
.legend .intro {
  display: inline-block;
  margin-left: 5px;
  background-image: url('icons/help_16.png');
  padding-right: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  background-clip: border-box;
}

textarea#log {
  background-color: #eee;
  color: #557;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0px;
  margin-top: 12px;
  padding: 6px 12px;
  font-weight: bold;
  width: 78%;
  min-height: 10em;
  max-height: 10em;
  resize:none;
  font-size: 0.85em;
}

.chrome textarea#log {
  width: 75.5%;
}

#settings-action-clear,
#domain-action-clear {
  margin-left: 35px;
  width: 250px;
}

#settings-confirm-clear,
#domain-confirm-clear {
  float: left;
}

#settings-notification {
  margin-bottom: 25px;
}

#settings-confirm-clear span,
#domain-confirm-clear span,
#settings-notification span {
  position: relative;
  top: 0.65em;
  font-weight: bold;
}

#help-view {
  padding: 5px 10px;
  margin-bottom: 18px;
  position: relative;
}

.helpNavigation li {
  border-radius: 2px;
  background-color: #ddd;
  margin-bottom: 4px;
  display: block;
  border: none;
  border-bottom: 1px solid #ddd;
  transition-property: background-color,border-color;
  transition-duration: 150ms;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 8px;
}

.helpNavigation li:hover {
  color: #000;
}

.helpNavigation a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

#help-view a > span.help-highlight {
  cursor: pointer;
}

#help-view span.help-highlight {
  cursor: default;
}

#help-view a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#help-view a.anchor {
  text-decoration: underline;
  font-weight: bold;
}

.anchor::before {
  display: block;
  content: " ";
  margin-top: -160px;
  height: 160px;
  visibility: hidden;
  pointer-events: none;
}

.chrome .anchor::before {
  display: inline-block;
}

#help-view hr {
  margin: 15px 0px 12px 0px;
  clear: both;
}

#help-view h1,
#help-view h2,
#help-view h3,
#help-view h4 {
  padding: 0px;
  margin: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.profileTab {
  margin-right: 1px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 0px;
}

#domainDetails {
  float: right;
  width: 605px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.chrome #domainDetails {
  width: 604px;
}

#profilePane {
  border: 1px solid #88a;
  max-height: 150px;
  overflow-y: scroll;
  border-radius: 0px 0px 0px 15px;
  padding: 0px;
  margin: 0px;
}

#profilePane span {
  font-weight: bold;
}

#profilePane #profileNoData {
  background-color: #eee;
  color: #888;
  padding: 12px;
  margin: 0px;
  display: block;
  font-weight: normal;
}

#profilePane #profileNoData.hidden {
  display: none;
}

#profilePane ul {
  padding: 0px;
  margin: 0px;
}

#profilePane li {
  padding: 12px;
  border-radius: 0px;
  margin: 0px;
  position: relative;
}

#profilePane li:hover span {
  color: #fff;
}

#profilePane button.dumpster {
  background-image: url('icons/dumpster_22.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-color: #1a2f45;
  height: 28px;
  width: 28px;
  border-radius: 28px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.chrome #settings-confirm-clear span,
.chrome #domain-confirm-clear span {
  top: 0.25em;
}

button.checkmark-confirm {
  margin-right: 8px;
  position: relative;
  top: 4px;
}

button.checkmark-confirm.active {
  background-image: url('icons/permit.png');
}

.inline-block {
  display: inline-block;
}

#help-view {
  background-color: #eee;
  font-size: 1.1em;
  margin: 0px;
}

.help-highlight {
  color: #0a0;
  font-weight: bold;
}
