html, body {
  width: 800px;
  max-height: 490px;
  color: #557;
  background-color: #ddd;
  font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.panel {
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-section-header,
.legend {
  display: block;
  font-weight: bold;
  font-size: 1.35em;
  text-transform: none;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #cce;
  min-height: 4em;
}

.legend {
  min-height: 2.5em;
  height: 2.5em;
  padding: 0px 20px 4px 20px;
  bottom: 0px;
  margin: 0px;
}

.legend p.intro {
  margin-right: 28px;
  margin-bottom: 12px;
  display: inline-block;
}

.legend span {
  border: 1px solid #aaa;
  border: none;
  background-color: #ddd;
  background-color: transparent;
  padding: 6px 16px 4px 28px;
  background-repeat: no-repeat;
  background-clip:border-box;
  margin-right: 16px;
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 12px;
  display: inline-block;
  border-right: 1px solid #aaa;
}

.legend #leg-flagged {
  background-image: url('icons/checkmark.png');
  background-position: -4px -43px;
}

.legend #leg-permitted {
  background-image: url('icons/checkmark_permit.png');
  background-position: -4px -41px;
}

.legend #leg-auto-flagged {
  background-image: url('icons/checkmark_af.png');
  background-position: -4px -43px;
  border-right: none;
}

.intro {
  display: block;
  color: #888;
  font-size: 0.75em;
  margin-bottom: 4px;
}

.info {
  padding-left: 21px;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 18px;
}

#header-title {
  display: block;
  max-width: 75%;
  margin-bottom: 8px;
}

hr {
  clear: both;
  border: none;
  border-bottom: 1px solid #cdcdcd;
}

ul {
  clear: both;
  padding: 5px 8px;
  margin: 0px;
  list-style: none;
}

li {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 5px;
  display: block;
  border-top: 1px solid #eef;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transition-property: background-color,border-color;
  transition-duration: 300ms;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}

li:nth-child(2n+1) {
  background-color: #eee;
}

li:hover {
  background-color: #557;
  color: #eef;
  border-top: 1px solid #668;
  border-right: 1px solid #668;
  border-bottom: 1px solid #668;
}

li:hover .cookieValue {
  color: #fff;
}

.cookieKey {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.25em;
  display: block;
}

.cookieValue {
  color: #779;
}

#cookie-list p,
#cookie-list-flagged p,
#cookie-list-permitted p {
  position: relative;
  word-wrap: break-word;
  width: 85%;
  left: 6%;
  top: 0%;
  display: inline-block;
}

button {
  text-transform: uppercase;
  text-align: center;
  background-color: #446;
  border-radius: 24px 24px;
  border: 1px solid #666;
  font-weight: bold;
  padding: 6px 12px;
  cursor: pointer;
  color: #ddd;
}

button {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.12);
}

input,
textarea {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.17);
}

button:hover,
button.active {
  background-color: #ddd;
  color: #557;
}

button::-moz-focus-inner {
  border: none;
}

#tabs {
  position: absolute;
  top: 0.55em;
  right: 1%;
}

.hidden {
  display: none;
}

button.checkmark {
  cursor: pointer;
  position: absolute;
  top: 0.85em;
  left: 10px;
  border: 1px solid #557;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  background-image: url(icons/checkmark.png);
  background-repeat: no-repeat;
  background-clip:border-box;
  background-position: -4px -4px;
}

button.checkmark.flagged {
  background-position: -4px -43px;
}

button.checkmark.auto-flagged {
  background-image: url('icons/checkmark_af.png');
  background-position: -4px -43px;
}

button.checkmark.permit {
  background-image: url('icons/checkmark_permit.png');
  background-position: -4px -41px;
}

li:hover button.checkmark {
  border: 1px solid #000;
}

button#auto-flag,
button#global-flag {
  text-transform: uppercase;
  background-color: #ddd;
  background-image: url('icons/cookie_wflag_28.png');
  background-position: 4px 3px;
  background-repeat: no-repeat;
  background-clip: border-box;
  padding: 7px 12px 8px 12px;
  padding-left: 28px;
  border-color: #ddd;
  color: #557;
  float: left;
  display: inline;
  margin-right:  3%;
  width: 18%;
  border: 1px solid #99a;
  transition: background-color,color;
  transition-duration: 320ms;
}

button#global-flag {
  background-image: url('icons/globe_flag_28.png');
}

button#auto-flag.active,
button#global-flag.active {
  background-color: #b20600;
  background-image: url('icons/cookie_flag_28.png');
  color: #eee;
  border: 1px solid #779;
}

button#global-flag.active {
  background-image: url('icons/globe_wflag_28.png');
}

#searchBar {
  background-color: #eee;
  background-image: url('icons/search_icon.png');
  background-position: 4px center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 26px 26px;
  color: #557;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0px;
  padding: 6px 12px 9px 4%;
  font-weight: bold;
  width: 58%;
}

#clearAutoFlagged {
  margin-top: 10px;
  margin-bottom: 4px;
}

#prefs {
  position: absolute;
  right: 10px;
  top: 5px;
  padding-left: 38px;
  background-image: url('icons/settings_28.png');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: 4px center;
}

#settings-view {
  padding: 10px;
}

textarea#log {
  background-color: #eee;
  color: #557;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0px;
  padding: 6px 12px;
  font-weight: bold;
  width: 100%;
  min-height: 10em;
  max-height: 10em;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  resize:none;
}
